# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\84158\Desktop\OneDrive - 南京大学\pc\myfile\learning_materia\大三下\软工3\hw2\assignment4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
